body {
    background:linear-gradient(90deg, rgba(248, 1, 1, 0.589), rgba(12, 11, 11, 0.705));
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice {
    position: absolute;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 9999;
    width: 100%;
    text-align: center;
}
Main{
    max-height: 89%;
}
.poem {
    max-width: 600px;
    height: 350px;
    background-image: url(flowerey.jpg);
    background-size: cover;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    overflow: auto;
}
.poem {
    white-space: pre-line;
    font-size: 20px;
    inline-size: 1.3;
}
.letter {
    background-image: url(jamie-street.jpg);
    background-size: cover;
    color: rgba(14, 1, 2, 0.884);
    max-width: 600px;
    min-height: 350px;
    margin-top: 20px;
    overflow: hidden;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.p{
    z-index: 1;
}
.letter {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
